
* {
    box-sizing: border-box;
}

.mockup {
    /*height: 768px;*/
    height: 100vh;
    width: 100%;
    background-image: url('../image/Sections background/section-1(header).jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-right: 1px solid red;
}

.container {
    width: 1160px;

    margin: 0px auto;
}
.header {
    width: 1920px;
    height: 120px;
    background-image: url('../image/Rectangle 4@1X.png');
    opacity: 0.5;
    border: 1px greenyellow solid;
}


.slogan-white {
    /*font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Montserrat-Bold, ﻿Courier;*/
    font-size: 15.4281pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    /*color: ;*/
}