/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
}


* {
    box-sizing: border-box;
}

/*a {*/
    /*text-decoration: none;*/
/*}*/

.main {
    background-attachment: fixed;
    width: 100%;
    height: 1012px;
    background-image: url('../image/Sections background/section-1(header).jpg');
    background-size: cover;
    background-position: center;
    /*margin: 0 auto;*/

    /*border-right: 1px solid red;*/
}


.header {
    background-color: #49473f;
    opacity: 0.6;
    /*padding: 20px;*/
    /*width: 1160px;*/
    /*height: 120px;*/
    height: 121px;
    width: 100%;

    /*background-image: url('../image/Rectangle 4@1X.png');*/
    /*opacity: 0.5;*/
    /*position: relative;*/
    border: 1px greenyellow solid;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.header-div {
    width: 1150px;
    height: 97px;
    padding: 0 2px;
    position: relative;
    top: 26px;

    border: 1px greenyellow solid;
}
.logo-div {
    width: 199px;
    height: 70px;
    border: 1px greenyellow solid;
}

.header-main {

    /*width: 1150px;*/

    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}


/*.header-logo {*/
/*display: inline-block;*/
/*vertical-align: middle;*/
/*width: 199px;*/
/*height: 70px;*/
/*margin: 0 auto;*/
/*!*float: left;*!*/
/*position: absolute;*/
/*left: 377px;*/
/*top: 26px;*/
/*border: 1px greenyellow solid;*/
/*}*/

/*.logo {*/
/*text-align: right;*/
/*}*/

.header-menu {
    width: 645px;
    height: 67px;
    position: absolute;
    left: 492px;
    top: 30px;
    display: inline-block;
    /*vertical-align: middle;*/

    /*position: absolute;*/
    /*left: 878px;*/
    /*top: 56px;*/
    /*margin: 13px auto 13px;*/
    /*margin: 0px auto;*/
    border: 1px greenyellow solid;
    opacity: 1;
    color: #18CFAB;
    font-family: AdobeInvisFont, Montserrat-Regular, Montserrat-Bold, Courier, sans-serif;
    font-size: 13px;
    /*align:left;*/
}
.header-menu-select {


    /*flex-grow: initial;*/

}


.header-menu-name {

    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 644px;
    /*height: 9px;*/
    /*line-height: 9px;*/
    /*display: inline-flex;*/
    border: 1px greenyellow solid;

    opacity: 1;
    color: #18CFAB;
    font-family: AdobeInvisFont, Montserrat-Regular, Montserrat-Bold, Courier, sans-serif;
    font-size: 13px;
    /*vertical-align: middle;*/
    /*display: inline; !* Отображать как строчный элемент *!*/
    margin-right: 5px; /* Отступ слева */
    /*border: 1px solid #000; !* Рамка вокруг текста *!*/
    /*padding: 3px; !* Поля вокруг текста *!*/
    text-transform: uppercase;


    /*position: absolute;*/
    /*left: 878px;*/
    /*top: 56px;*/

}

.header-menu-select a:after {
    color: greenyellow;

}





.search-img {
    position: absolute;
    left: 1154px;
    top: 23px;
}

ul.menu {
    /*height: 100%;*/
    /*height: 9px;*/
    /*text-align: center;*/
    /*margin: 0; !* Обнуляем значение отступов *!*/
    /*padding: 4px; !* Значение полей *!*/
    /*border: 1px greenyellow solid;*/
/*}*/

ul.menu li {
    /*height: 9px;*/
    /*opacity: 1;*/
    /*color: #18CFAB;*/
    /*font-family: AdobeInvisFont, Montserrat-Regular, Montserrat-Bold, Courier, sans-serif;*/
    /*font-size: 13px;*/
    /*vertical-align: middle;*/
    /*display: inline; !* Отображать как строчный элемент *!*/
    /*margin-right: 5px; !* Отступ слева *!*/
    /*!*border: 1px solid #000; !* Рамка вокруг текста *!*!*/
    /*!*padding: 3px; !* Поля вокруг текста *!*!*/
    /*text-transform: uppercase;*/
    /*border: 1px greenyellow solid;*/
}


/*TEXT*/

.slogan-white {
    opacity: 1;
    color: #FFFFFF;
    font-family: AdobeInvisFont, Montserrat-Regular, Montserrat-Bold, Courier, sans-serif;
    font-size: 15px;
    text-align: right;
}

.slogan-green {
    opacity: 1;
    color: #18cfab;
    font-family: AdobeInvisFont, Montserrat-Regular, Montserrat-Bold, Courier, sans-serif;
    font-size: 15px;
    text-align: right;

}

.main-menu-li:hover {
    opacity: 1;
    color: #18CFAB;
    font-family: AdobeInvisFont, Montserrat-Bold, Courier, sans-serif;
    font-size: 13px;
    /*align:left;*/
    border: 1px greenyellow solid;
}

.menu9 {
    opacity: 1;
    color: #18CFAB;
    font-family: AdobeInvisFont, Montserrat-Bold, Courier, sans-serif;
    font-size: 13px;
    /*align: left;*/
}


/*MAIN MIDDLE TEXT*/

.main-middle-text {
    width: 769px;
    height: 195px;
}
.main-middle-white {
    opacity:1;
    color:#FFFFFF;
    font-family: AdobeInvisFont, Montserrat-Bold, Courier, sans-serif;
    font-size:35px;
    align:center;
}
